html,
body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.header-logo {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo>img {
    height: 100px;
    margin-left: 40px !important;
}

label {
    font-size: 13px;
}

table, thead, tbody {
    border-collapse: collapse;
    border-width: 0px !important;
}

th, td, tr {
    font-size: 14px;
}

tr {
    border-bottom: 1px solid #dee2e6;
    vertical-align: middle;
}

.card-header {
    height: 70px;
}

.card {
    height: 170px;
}