html, body {
    margin: 0;
    padding: 0;
}

label {
    font-size: 13px;
}

/* table, thead, tbody {
    border-collapse: collapse;
    border-width: 0px !important;
}

th, td, tr {
    font-size: 14px;
}

tr {
    border-bottom: 1px solid #dee2e6;
    vertical-align: middle;
} */